{% extends "base.html" %}
{% block slides %}
  {% include "slides/01_title.html" %}
  {% include "slides/02_three_languages.html" %}
  {% include "slides/03_page_loads.html" %}
  {% include "slides/04_tag_anatomy.html" %}
  {% include "slides/05_skeleton.html" %}
  {% include "slides/06_headings_text.html" %}
  {% include "slides/07_lists.html" %}
  {% include "slides/08_links_images.html" %}
  {% include "slides/09_css.html" %}
  {% include "slides/10_js.html" %}
  {% include "slides/11_starter.html" %}
  {% include "slides/12_deploy.html" %}
  {% include "slides/13_questions.html" %}
{% endblock %}
